  body
   {
    background:url('body.jpg');
  }
  @font-face
  {
    font-family:mostwanted;
	src:url(mostwanted.woff);
  }	
  #container
  {
	width:850px;
	margin-top:-45px;
	margin-left:auto;
	margin-right:auto;
	box-shadow:7px 7px 3px;
  }
  #logo
  {
    font-family:mostwanted;
	font-size:70px;
  }
  #header
  {
    background-color:#FFA500;
	height:150px;
	padding-left:75px;
	background-image:url('header.jpg');
	background-size:850px 200px;
  }
  ul
  {
    list-style-type:none;
  }	
  #side
  {
    background-image:url('/ProjectD/side.jpg');
	background-size:400px 590px;
	margin-top:-40px;
	border:2px solid black;
	border-radius:12px;
	float:left;
	width:175px;
	height:800px;
	padding-top:50px;
	padding-bottom:5px;
  }
  #content
  {
    background-color:#EEEEEE;
    height:900px;
	width:661px;
	float:left;
	padding:5px;
  }
  #footer
   {
    background-color:#FFA500;
	clear:both;
  }
  #side a
   {
    background-image:url('menu.jpg');
	background-size:160px 30px;
	width:155px;
	height:30px;
	color:white;
	border-radius:10px;
	display:block;
	text-decoration:none;
	padding-top:3px;
	font-family:"Comic Sans MS";
	padding-left:20px;
  }
  #side a:hover
   {
    background-image:url('menu2.jpg');
	color:black;
	font-size:17px;
  }
  table
    {
	margin-left:auto;
	margin-right:auto;
  }
  img
  {
    width:125px;
	height:190px;
  }
  .author
    {
	color:gray;
	font-size:13px;
  }
  td
   {
    padding:15px;
  }	
   